@layer demo {

  /* Hide radio buttons */
  .timeline-circular input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .timeline-circular label {
    font-size: 3.42vw !important;
    color: #FEDC0B !important;
  }

  .timeline-circular {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #2C5EFF 0%, #0035F8 31%, #0000BF 100%);
    padding: 4rem 0;
    border-radius: 1rem;
  }



  .timeline-circular h2 {
    font-size: 4.2vw !important;
  }



  .timeline-circular p {
    font-size: 3vw !important;
  }

  .timeline-circular .cards-container {
    --base-rotation: 0deg;
    --full-circle: 360deg;
    --radius: 40vw;
    --duration: 200ms;

    --cards-container-size: calc(var(--radius) * 2);
    --top-offset-for-label: 4rem;
    --cards-container-padding: 2rem;

    --border-color: #FFFFFF;

    --label-offset: calc(var(--radius) * -1 - 1rem);
    --label-size: 30px;
    --label-color: #FFFFFF;
    --label-color-hover: #FEDC0B;
    --label-line-h: 0;
    --label-line-h-current: 2rem;
    --label-dot-size: 10px;

    --title-top: 1.5rem;
    --title-offset-y: 30px;

    --info-top: 5rem;
    --info-width: min(70%, 500px);
    --info-offset-y: 30px;

    box-sizing: content-box;
    position: relative;
    margin: 5rem auto;
    width: var(--cards-container-size);
    height: calc(var(--radius) + var(--top-offset-for-label) + var(--cards-container-padding));
    padding: var(--cards-container-padding);
    overflow: hidden;
    clip-path: polygon(0 var(--top-offset-for-label), 100% var(--top-offset-for-label), 100% 100%, 0 100%);
  }

  @media (min-width: 800px) {
    .timeline-circular .cards-container {
      --radius: 30vw;
      --label-size: 40px;
      --label-dot-size: 15px;
      --label-line-h-current: 4rem;
      --title-top: 4rem;
      --info-top: 8rem;
    }

    .timeline-circular label {
      font-size: 1.42vw !important;
      color: #FEDC0B !important;
    }

    .timeline-circular h2 {
      font-size: 1.11vw !important;
    }

    .timeline-circular p {
      font-size: 0.97vw !important;
    }

  }

  @media (min-width: 1200px) {
    .timeline-circular .cards-container {
      --label-size: 50px;
      --border-color: #FFFFFF;
    }
  }

  @media (max-width: 800px) {
    .timeline-circular .cards-container.mt-0 {
      width: 100%;
      left: 0;
      padding: 0;
      height: 86%;
    }

    ul.cards.w-full.md\:w-auto.top-\[42vw\].md\:top-\[12vw\] {
      width: 100%;
      left: 0;
      /* height: 71vw; */
    }
  }

  .timeline-circular .cards {
    position: absolute;
    top: calc(var(--cards-container-padding) + var(--top-offset-for-label));
    left: var(--cards-container-padding);
    right: var(--cards-container-padding);
    bottom: calc(var(--cards-container-padding) - var(--top-offset-for-label));
    aspect-ratio: 1;
    width: calc(var(--cards-container-size) - var(--cards-container-padding) * 2);
    height: calc(var(--cards-container-size) - var(--cards-container-padding) * 2);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: transform 0.3s ease-in-out var(--duration);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .timeline-circular .cards li {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    transform-origin: center;
    display: grid;
    place-content: center;
    transform: rotate(calc(var(--i) * 360deg / var(--items)));
    pointer-events: none;
  }

  .timeline-circular .cards li>label {
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(var(--label-offset));
    width: var(--label-size);
    height: var(--label-size);
    cursor: pointer;
    pointer-events: initial;
    text-align: center;
    color: var(--label-color);
    font-size: clamp(0.8rem, 2.5vw + 0.04rem, 1rem);
    transition: var(--duration) ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .timeline-circular .cards li>label::before {
    content: '';
    position: absolute;
    top: var(--cards-container-padding);
    left: 50%;
    translate: -50% 0;
    width: var(--label-dot-size);
    height: var(--label-dot-size);
    border-radius: 50%;
    background-color: #FEDC0B;
    transition: background-color var(--duration) ease-in-out;
    margin-top: 0.42vw;
  }

  .timeline-circular .cards li>label::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 5px;
    width: 2px;
    height: var(--label-line-h);
    background-color: #FEDC0B;
    transition: height 300ms ease-in-out var(--label-line-delay, 0ms);
  }

  .timeline-circular .cards li>label:hover {
    --label-color: var(--label-color-hover);
  }

  .timeline-circular .cards>li>h2,
  .timeline-circular .cards>li>p {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    transform-origin: center;
  }

  .timeline-circular .cards>li>h2 {
    top: var(--title-top);
    opacity: var(--title-opacity, 0);
    translate: 0 var(--title-offset-y);
    transition: var(--duration) ease-in-out var(--title-delay, 0ms);
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
  }

  .timeline-circular .cards>li>p {
    top: var(--info-top);
    margin: 0 auto;
    width: var(--info-width);
    z-index: 2;
    font-size: clamp(0.8rem, 2.5vw + 0.05rem, 0.9rem);
    text-align: left;
    text-wrap: pretty;
    opacity: var(--info-opacity, 0);
    transition: var(--duration) ease-in-out var(--info-delay, 0ms);
    color: #FFFFFF;
    line-height: 1.5;
  }

  /* update custom properties for checked item */
  .timeline-circular li:has(input:checked) {
    --label-opacity: 1;
    --label-color: var(--label-color-hover);
    --label-line-h: var(--label-line-h-current);
    --label-line-delay: calc(var(--duration) * 2);

    --title-opacity: 1;
    --title-offset-y: 0;
    --title-delay: calc(var(--duration) * 3);

    --info-opacity: 1;
    --info-offset-y: 0;
    --info-delay: calc(var(--duration) * 4);
  }

  /* rotate container based on checked radio */
  .timeline-circular .cards:has(input:checked) {
    transform: rotate(calc(var(--base-rotation) - (var(--index) * var(--full-circle) / var(--items))));
  }

  /* Dynamic index selectors for each possible item */
  .timeline-circular .cards:has(li:nth-child(1) > input:checked) {
    --index: 0;
  }

  .timeline-circular .cards:has(li:nth-child(2) > input:checked) {
    --index: 1;
  }

  .timeline-circular .cards:has(li:nth-child(3) > input:checked) {
    --index: 2;
  }

  .timeline-circular .cards:has(li:nth-child(4) > input:checked) {
    --index: 3;
  }

  .timeline-circular .cards:has(li:nth-child(5) > input:checked) {
    --index: 4;
  }

  .timeline-circular .cards:has(li:nth-child(6) > input:checked) {
    --index: 5;
  }

  .timeline-circular .cards:has(li:nth-child(7) > input:checked) {
    --index: 6;
  }

  .timeline-circular .cards:has(li:nth-child(8) > input:checked) {
    --index: 7;
  }

  .timeline-circular .cards:has(li:nth-child(9) > input:checked) {
    --index: 8;
  }

  .timeline-circular .cards:has(li:nth-child(10) > input:checked) {
    --index: 9;
  }

  .timeline-circular .cards:has(li:nth-child(11) > input:checked) {
    --index: 10;
  }

  .timeline-circular .cards:has(li:nth-child(12) > input:checked) {
    --index: 11;
  }

  .timeline-circular .cards:has(li:nth-child(13) > input:checked) {
    --index: 12;
  }

  .timeline-circular .cards:has(li:nth-child(14) > input:checked) {
    --index: 13;
  }

  .timeline-circular .cards:has(li:nth-child(15) > input:checked) {
    --index: 14;
  }

  .timeline-circular .cards:has(li:nth-child(16) > input:checked) {
    --index: 15;
  }

  .timeline-circular .cards:has(li:nth-child(17) > input:checked) {
    --index: 16;
  }

  .timeline-circular .cards:has(li:nth-child(18) > input:checked) {
    --index: 17;
  }

  .timeline-circular .cards:has(li:nth-child(19) > input:checked) {
    --index: 18;
  }

  .timeline-circular .cards:has(li:nth-child(20) > input:checked) {
    --index: 19;
  }

  .timeline-circular .cards:has(li:nth-child(21) > input:checked) {
    --index: 20;
  }

  .timeline-circular .cards:has(li:nth-child(22) > input:checked) {
    --index: 21;
  }

  .timeline-circular .cards:has(li:nth-child(23) > input:checked) {
    --index: 22;
  }

  .timeline-circular .cards:has(li:nth-child(24) > input:checked) {
    --index: 23;
  }

  .timeline-circular .cards:has(li:nth-child(25) > input:checked) {
    --index: 24;
  }

  .timeline-circular .cards:has(li:nth-child(26) > input:checked) {
    --index: 25;
  }
}